<% include ../header %>

    <!-- 引入 富文本编辑器 -->
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li>
            <a href="#">文章管理</a>
        </li>
        <li class="active">发布文章</li>
    </ol>
    <!-- 路径导航 END -->


    <!-- 发布文章 -->
    <div class="container courseAdd">
        <div class="row">
            <form action="/admin/course/doedit?id=<%=dataone.id%>" method="POST" enctype="multipart/form-data">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">课程栏目</span>
                        <select name="categoryId" class="form-control">
                            <% data.forEach(function(val){ %>
                               <%if(val.id== dataone.categoryId){%>
                                <option value="<%=val.id%>" selected>
                                    <%=val.name%>
                                </option>
                               <%}else{%>
                                <option value="<%=val.id%>">
                                    <%=val.name%>
                                </option>
                               <%}%>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">课程标题</span>
                        <input type="text" class="form-control" name="title" value="<%=dataone.title%>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">价格</span>
                        <input type="text" class="form-control" name="price" value="<%=dataone.price%>">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">文章封面 </span>
                        <div  class="form-control">
                            <img src="/upload/<%=dataone.imgurl%>" width="50">
                        </div>
                        
                        <input type="file" class="form-control" name="imgurl">
                    </div>
                </div>
                <div class="col-md-12 content">
                    <textarea name="content" id="content"><%=dataone.content%></textarea>
                </div>
                <div class="col-md-6">
                    <input class="reset" type="reset">
                </div>
                <div class="col-md-6">
                    <input class="submit" type="submit">
                </div>
            </form>
        </div>
    </div>

    <script>
        // 实例化编辑器
        var ueditor = UE.getEditor('content');
        ueditor.addListener("ready", function () {  /*注意*/
                // editor准备好之后才可以使用
                //ueditor.setContent(`{{@list.content}}`);
        });
    </script>


    <% include ../footer %>