<% include ../header %>
    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <li>
            <a href="#">轮播图管理</a>
        </li>
        <li class="active">轮播图列表</li>
    </ol>
    <!-- 路径导航 END -->
    <div class="row">
        
        <div class="col-sm-12">
    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/admin/swiper/add" class="btn btn-primary">增加商品</a>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline" method="get" action="/swiper">
                        <div class="form-group">
                            <label for="name">输入关键词</label>
                            <input type="text" class="form-control" value="<%=keyword%>" id="name" name="keyword"
                                placeholder="请输入名称">
                        </div>
    
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <table class="table table-hover swiperList">
        <tr>
            <td>轮播图图像</td>
            <td>标题</td>
            <td>连接</td>
            <td>发布时间</td>
            <td>操作</td>
        </tr>
        <% data.forEach(function(val){ %>
            <tr>
                <td>
                    <img src="/upload/<%=val.imgurl%>" alt="" width="60">
                </td>
                <td>
                    <%=val.title%>
                </td>
                <td>
				   
                    <%=val.url %>
                </td>
                <td>
                    <%=val.createdAt.toLocaleString()   %>
                </td>
                <td>
                    <a href="/admin/swiper/edit/<%=val.id%>">编辑</a>
                    |
                    <a href="/admin/swiper/del/<%=val.id%>" onclick="return confirm('您确定要删除吗？')">删除</a>
                </td>
            </tr>
            <% })%>
    </table>


    <!-- 分页 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="/admin/swiper?currentPage=1&keyword=<%=keyword%>">首页</a>
            </li>
            <li>
                <a href="/admin/swiper?currentPage=<%=prev%>&keyword=<%=keyword%>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <% for(var i=1;i<= totalPage; i++){ %>
                <%if(currentPage==i){%>
                    <li>
                        <a href="/admin/swiper?currentPage=<%=i%>&keyword=<%=keyword%>" style="color:red"><%=i%></a>
                    </li>
                <%}else{%>
                    <li>
                        <a href="/admin/swiper?currentPage=<%=i%>&keyword=<%=keyword%>">
                            <%=i%>
                        </a>
                    </li>
                <%}%>
            <% } %>

            <li>
                <a href="/admin/swiper?currentPage=<%=next%>&keyword=<%=keyword%>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li>
                <a href="/admin/swiper?currentPage=<%=totalPage%>&keyword=<%=keyword%>">尾页</a>
            </li>
        </ul>
    </nav>
    <!-- 分页 end -->

    <% include ../footer %>